fuse/modules/api-gateway/src/main/resources/administration.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
      xmlns:tns="http://ws.administration.techlab.lbroudoux.github.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
      xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PatientEndpointService" 
      targetNamespace="http://ws.administration.techlab.lbroudoux.github.com/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.administration.techlab.lbroudoux.github.com/" elementFormDefault="unqualified" targetNamespace="http://ws.administration.techlab.lbroudoux.github.com/" version="1.0">
      <xs:element name="admitPatient" type="tns:admitPatient"/>
      <xs:element name="admitPatientResponse" type="tns:admitPatientResponse"/>
      <xs:element name="getAllPatients" type="tns:getAllPatients"/>
      <xs:element name="getAllPatientsResponse" type="tns:getAllPatientsResponse"/>
      <xs:element name="patient">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:string"/>
            <xs:element minOccurs="0" name="firstname" type="xs:string"/>
            <xs:element minOccurs="0" name="lastname" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="getAllPatients">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="getAllPatientsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="admitPatient">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="id" type="xs:string"/>
                <xs:element minOccurs="0" name="firstname" type="xs:string"/>
                <xs:element minOccurs="0" name="lastname" type="xs:string"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="admitPatientResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  
  <wsdl:message name="getAllPatients">
    <wsdl:part element="tns:getAllPatients" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="admitPatientResponse">
    <wsdl:part element="tns:admitPatientResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllPatientsResponse">
    <wsdl:part element="tns:getAllPatientsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="admitPatient">
    <wsdl:part element="tns:admitPatient" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PatientEndpoint">
    <wsdl:operation name="getAllPatients">
      <wsdl:input message="tns:getAllPatients" name="getAllPatients">
    </wsdl:input>
      <wsdl:output message="tns:getAllPatientsResponse" name="getAllPatientsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="admitPatient">
      <wsdl:input message="tns:admitPatient" name="admitPatient">
    </wsdl:input>
      <wsdl:output message="tns:admitPatientResponse" name="admitPatientResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PatientEndpointServiceSoapBinding" type="tns:PatientEndpoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllPatients">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllPatients">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllPatientsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="admitPatient">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="admitPatient">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="admitPatientResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PatientEndpointService">
    <wsdl:port binding="tns:PatientEndpointServiceSoapBinding" name="PatientEndpointPort">
      <soap:address location="http://192.168.99.100:32522/cxf/patient"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>